/* Global Styles */
body {
  font-family: "Open Sans", sans-serif;
  background-color: #f8f9fa;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Header Styles */
header {
  background: linear-gradient(to right, #96d7d7, #fdc38f);
  color: #ffffff;
  padding: 12px;
  text-align: center;
  border: 1px transparent;
  border-image: linear-gradient(to right, #76b7b7, #e3a175);
  border-image-slice: 1;
  font-family: "Open Sans", sans-serif;
  font-size: 50px;
}

header h1 {
  margin: 0;
}

/* Map and Footer Styles */
#map, body, html {
  height: 100%;
}

footer {
  background-color: #fdc38f;
  padding: 20px 0;
  border-radius: 10px;
  text-align: center;
  font-size: 12px;
}

/* Dropdown Styles */
.dropbtn {
  background-color: rgba(75, 192, 161, 0.9);
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.dropdown-content {
  display: none;
  background-color: #ffffff;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
  text-align: left;
  position: relative;
}

.dropdown-content a {
  color: rgba(0, 0, 0, 0.658);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 5px;
}

.dropdown-content a:hover {
  background-color: #96d7d7;
}

/* Dropdown Hover Effect */
.navbar-nav .nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

/* Weather Styles */
.weather-toggle {
  cursor: pointer;
  display: flex;
  align-items: center;
}

#arrow-icon {
  margin-left: 10px;
}

.arrow-up {
  transform: rotate(180deg);
}

.weather-box {
  color: rgb(70, 70, 70);
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#weather-header {
  font-size: 20px;
}

/* Chart Styles */
.charts-container {
  margin-bottom: 20px;
}

/* Search form */
.input-group .form-control {
  margin-right: 10px;
}

.input-group .btn {
  margin-left: 10px;
}

/* Navbar Styles */
.navbar {
  background-color: #343a40; /* Dark background color */
}

.navbar-nav .nav-link {
  color: #ffffff; /* White text color for links */
  padding: 10px 15px; /* Adjust padding as needed */
}

.navbar-nav .nav-link:hover {
  background-color: #454d55; /* Darker background color on hover */
}

/* Dropdown Styles */
.navbar-nav .dropdown-menu {
  background-color: #343a40; /* Dark background color for dropdown */
  border: none; /* Remove border */
}

.navbar-nav .dropdown-menu a {
  color: #ffffff; /* White text color for dropdown links */
  padding: 10px 15px; /* Adjust padding as needed */
}

.navbar-nav .dropdown-menu a:hover {
  background-color: #454d55; /* Darker background color on hover */
}
/* Dropdown Hover Effect */
.navbar-nav .nav-item.dropdown:hover .dropdown-menu {
  display: block;
}
