{% extends "base.html" %}
{% block content %}
    <div class="container mt-5">
        <h2>What is affordable housing?</h2>
        <p>The Canada Mortgage and Housing Corporation (CMHC) states that in Canada, housing is considered “affordable” if it costs less than 30% of a household’s before-tax income.</p>
    </div>

    <div class="container mt-5">
        <p>Find some available houses based on your income.</p>
        <div class="row justify-content-center">
            <div class="col-sm-4"></div> <!-- Left column -->
            <div class="col-sm-4"> <!-- Middle column -->
                <form class="needs-validation" id="searchForm" action="/api/v1.0/affordable_housing" method="GET" novalidate>
                    <div class="input-group">
                        <input class="form-control me-2" type="number" placeholder="Enter your pre-tax income" aria-label="Search" name="preTaxIncome" id="preTaxIncomeInput" required>
                        <div class="input-group-append">
                            <button type="submit" id="searchButton" class="btn btn-dark mx-auto">Search!</button>
                        </div>
                    </div>
                    <div class="invalid-feedback">
                        Please enter a number greater than 0 in the search box.
                    </div>
                </form>
                <!-- Danger alert for validation -->
                <div class="alert alert-danger mt-2 d-none" id="alertMessage" role="alert">
                    Please enter a number greater than 0 in the search box.
                </div>
            </div> <!-- Middle column -->
            <div class="col-sm-4"></div> <!-- Right column -->
        </div>
    </div>


    <!-- Table to display results -->
    <div class="container mt-5">
        <h2>Listings</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Address</th>
                    <th>Type of House</th>
                    <th>Bedrooms</th>
                    <th>Bathrooms</th>
                    <th>City</th>
                    <th>Price</th>
                    <th>Mortgage Insurance Eligible</th>
                    <th>Min. Down Payment for Insurance</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody id="resultsBody">
                <!-- Table rows will be dynamically added here -->
                </tbody>
            </table>
        </div>
    </div>

    <script src="../static/js/formHandler.js"></script>
{% endblock %}
