{% extends "base.html" %}
{% block content %}
    <div class="container mt-5">
        <h2>What is affordable housing?</h2>
        <p>The Canada Mortgage and Housing Corporation (CMHC) states that in Canada, housing is considered “affordable” if it costs less than 30% of a household’s before-tax income.</p>
    </div>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-sm-6">
                <form id="affordableHousesForm" class="needs-validation" action="/api/v1.0/find_houses" method="GET">
                    <div class="form-group">
                        <label for="preTaxIncome">Pre-tax Income:</label>
                        <input type="number" class="form-control" id="preTaxIncome" name="preTaxIncome" required min="0">
                        <div class="invalid-feedback">
                            Please enter a number greater than zero.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="downPayment">Down Payment Amount:</label>
                        <input type="number" class="form-control" id="downPayment" name="downPayment" required min="0">
                        <div class="invalid-feedback">
                            Please enter a number greater than zero.
                        </div>
                    </div>
                    <!-- Add a hidden input field for the status -->
                    <input type="hidden" name="status" value="For Sale">
                    <button type="submit" class="btn btn-primary btn-block">Check for Houses!</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Table to display results -->
    <div class="container mt-5">
        <h2>Listings</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Address</th>
                    <th>Type of House</th>
                    <th>Bedrooms</th>
                    <th>Bathrooms</th>
                    <th>City</th>
                    <th>Price</th>
                    <th>Mortgage Insurance Eligible</th>
                    <th>Min. Down Payment for Insurance</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody id="resultsBody">
                <!-- Table rows will be dynamically added here -->
                </tbody>
            </table>
        </div>
    </div>

    <script src="../static/js/formHandler.js"></script>
{% endblock %}
